.saveName {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-left: 15px;
}

.formProfile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.inputProfile {
    outline: none;
    height: 25px;
    font-size: 20px;
    padding: 0 10px;
}